<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <h2>People</h2>
    <table>
      <thead>
        <tr class="title">
            <td>Anrede</td>
            <td>Name</td>
            <td>geschlecht</td>
            <td>Haarfarbe</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="person: ${people}" th:object="${person}">
            <td th:text="*{anrede}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{geschlecht}"></td>
            <td th:style="'background-color:' + *{'rgb(' + haarfarbe.red + ',' + haarfarbe.green + ',' + haarfarbe.blue + ')'}"></td>
        </tr>
      </tbody>

    </table>
    <h2>Weapons</h2>
    <table>
        <thead>
            <tr class="title">
                <td>Name</td>
                <td>Länge</td>
                <td>Gewicht</td>
                <td>Typ</td>
                <td>Mermal</td>
                <td>Material</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="weapon: ${weapons}" th:object="${weapon}">
                <td th:text="*{name}"></td>
                <td th:text="*{laenge} + 'cm'"></td>
                <td th:text="*{gewicht} + 'g'"></td>
                <td th:text="*{typ}"></td>
                <td th:text="*{merkmal}"></td>
                <td th:text="*{material}"></td>
            </tr>
        </tbody>
    </table>

    <h2>Rooms</h2>
    <table>
        <thead>
            <tr class="title">
                <td>Name</td>
                <td>Anzahl Türen</td>
                <td>Anzahl Fenster</td>
                <td>Boden</td>
                <td>Wände</td>
                <td>Möbel</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="room: ${rooms}" th:object="${room}">
                <td th:text="*{name}"></td>
                <td th:text="*{anzahlTueren}"></td>
                <td th:text="*{anzahlFenster}"></td>
                <td th:text="*{boden}"></td>
                <td th:style="'background-color:rgb(' + *{wandFarbe.red} + ',' + *{wandFarbe.green} + ',' + *{wandFarbe.blue} + ');border-radius:1px'"></td>
                <td th:text="*{moebel}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>