<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
    <h2>People</h2>
    <table th:each="person: ${people}" th:object="${person}">
      <thead>
        <tr>
        <th colspan="2" th:text="*{name}"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Anrede</td>
          <td th:text="*{anrede}"></td>
        </tr>
        <tr>
          <td>Name</td>
          <td th:text="*{name}"></td>
        </tr>
        <tr>
          <td>geschlecht</td>
          <td th:text="*{geschlecht}"></td>
        </tr>
        <tr>
            <td>Haarfarbe</td>
            <td th:style="'background-color:' + *{'rgb(' + haarfarbe.red + ',' + haarfarbe.green + ',' + haarfarbe.blue + ')'}"></td>
        </tr>
      </tbody>

    </table>
    <h2>Weapons</h2>
    <table th:each="weapon: ${weapons}" th:object="${weapon}">
        <thead>
            <tr>
                <th th:text="${weapon.name}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <td>Länge</td>
                <td th:text="*{laenge} + 'cm'"></td>
            </tr>
            <tr>
                <td>Gewicht</td>
                <td th:text="*{gewicht} + 'g'"></td>
            </tr>
            <tr>
                <td>Typ</td>
                <td th:text="*{typ}"></td>
            </tr>
            <tr>
                <td>Mermal</td>
                <td th:text="*{merkmal}"></td>
            </tr>
            <tr>
                <td>Material</td>
                <td th:text="*{material}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>